@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: hsl(210, 36%, 96%);
}
.container {
  display: flex;
  justify-content: space-around;
  text-align: left;
  padding: 5rem 6.2rem;
}

.img-container img {
  width: 35rem;
}

.main h2 {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: hsl(205, 63%, 48%);
}
